body {
    background-color: burlywood;
}
#header {
    border: mediumslateblue dotted 1px;
    min-height: 500px;
    position: relative;
    * {
        box-sizing: border-box;
    }
    .min-header {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 56px;
        .min-header-content {
            margin: 0, auto;
            padding: 10px 24px;
            display: flex;
            justify-content: space-between;
            .nav-link {
                flex-shrink: 0;
                .nav-link-ul {
                    display: flex;
                    height: 36px;
                    align-items: center;
                    .nav-link-item {
                        margin-right: 12px;
                        .link {
                            color: white;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }
            .nav-search-box {
                width: 500px;
                margin: 0 10px;
                .nav-search {
                    position: relative;
                    .nav-searchform {
                        display: block;
                        padding: 0 38px 0 16px;
                        border: 1px solid hsla(0,0%,100%,0);
                        border-radius: 2px;
                        background-color: white;
                        .nav-search-keyword {
                            height: 34px;
                            width: 100%;
                            border: none;
                        }
                        .nav-search-btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 80px;
                            height: 36px;
                            border: none;
                            border-radius: 2px;
                            background-color: #e7e7e7;
                            cursor: pointer;
                            .nav-search-submit {
                                position: absolute;
                                top: 8px;
                                right: 16px;
                                font-size: 16px;
                                line-height: 20px;
                                border: none;
                                background: none;
                            }
                        }
                    }
                }
            }
            .nav-user-center {
                display: flex;
                flex-shrink: 0;
                .user {
                    display: flex;
                    align-items: center;
                    .item {
                        margin-right: 12px;
                        .context {
                            color: white;
                            font-size: 14px;
                        }
                    }
                }
                .upload {
                    .upload-btn {
                        .upload-submit {
                            cursor: pointer;
                            display: block;
                            width: 100px;
                            height: 36px;
                            color: white;
                            background-color: #fb7299;
                            text-align: center;
                            line-height: 36px;
                            font-size: 14p;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
    #banner {
        height: 9vw;
        background: maroon;
        min-width: 999px;
        min-height: 155px;
        margin: 0 auto;
        z-index: 0;
    }
}